/* 
    Created on : Aug 21, 2023, 12:39:04 PM
    Author     : Stanmarx
*/
article{
    width: 390px;
    padding: 20px auto;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    display: inline-block;
    justify-content: center;
    position: relative;
}

.places article h2{
    font-size: 30px;
}
.places {
    font-size: 30px;
    padding-left: 30px;
    text-align: center;
}

.places h1 {
    text-align: left;
    margin: 15px;
}
.price_by_night{
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    border-radius: 50%;
    float: right;
    margin-top: -78px;
    margin-right: 10px;
}
.price_by_night p {
    text-align: center;
    line-height: 0px;
}
.information{
    height: 80px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    display: flex;
    justify-content: space-evenly;
}
.max_guest{
    background-image: url("../images/icon_group.png");
    width: 100px;
    background-position: 50% 20%;
    background-repeat: no-repeat;
}
.number_rooms {
    background-image: url("../images/icon_bed.png");
    width: 100px;
    background-position: 50% 20%;
    background-repeat: no-repeat;
}

.number_bathrooms {
    background-image: url("../images/icon_bath.png");
    width: 100px;
    background-position: 50% 20%;
    background-repeat: no-repeat;
}
.max_guest p {
    font-size: 15px;
    line-height: 6;
}

.number_rooms p {
    font-size: 15px;
    line-height: 6;
}

.number_bathrooms p {
    font-size: 15px;
    line-height: 6;
}
.user{
    margin-left: 10px;
}
.description{
    margin-left: 10px;
}
.user p{
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 15px;
    text-align: left;
}
.description p{
    font-size: 15px;
    text-align: left;
}

body .container .camenities h2{
    font-size: 16px;
    text-align: left;
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 10px;
}
.camenities{
    margin-top: 40px;
    margin-left: 10px;
}
.amin li{
    font-size: 15px;
    line-height: 20px;
    padding-left: 40px;
    background-repeat: no-repeat;
    background-position: 0%;
    text-align: left;
}
.amin li.tv{
    background-image: url("../images/icon_tv.png");
    background-size: 30px;
    margin-left: -43px;
}
.amin li.wifi{
    background-image: url("../images/icon_wifi.png");
    background-size: 30px;
    margin-left: -43px;  
}
.amin li.pet{
    background-image: url("../images/icon_pets.png");
    background-size: 30px;
    margin-left: -43px;  
}
body .container .reviews h2{
    font-size: 16px;
    margin-top: 40px;
    padding-bottom: 10px;
    text-align: left;
    border-bottom: 1px solid #DDDDDD;
    margin-left: 10px;
}
body .container .reviews h3{
    font-size: 14px;
    text-align: left;
    margin-left: 10px;
    margin-bottom: -8px;
}
body .container .reviews p{
    font-size: 12px;
    text-align: left;
    margin-left: 10px;
}
body .container .reviews ul, li{
    margin-left: -20px;
    margin-top: 10px;
}