/* 
    Created on : Aug 20, 2023, 2:21:31 AM
    Author     : Stanmarx
*/

footer {
    background-color:  #00FF00;
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0;
    line-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    text-align: center;
    vertical-align: middle;
}