/* 
    Created on : Aug 20, 2023, 2:19:31 AM
    Author     : Stanmarx
*/
header {
      background-color: #FF0000;
      height: 70px;
      width: 100%;
      text-align: center;
      line-height: 70px;
    }
