/* 
    Created on : Aug 20, 2023, 9:16:17 AM
    Author     : Obi William
*/
 body {
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
    